<a href="https://colab.research.google.com/github/Globnsk/PYTHON/blob/main/HOMEWORK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Домашняя работа. Задание 44.
В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [27]:
# Вариант 1
import random
import pandas as pd

lst = ['robot'] *10
lst += ['human'] * 10
random.shuffle(lst)

data = pd.DataFrame({'whoAmI': lst})
#data.head()

data['tmp'] = 1
data.set_index([data.index, 'whoAmI'], inplace=True)
data = data.unstack(level=-1, fill_value = 0)
data.columns = data.columns.droplevel()
data.columns.name = None
print(data)

    human  robot
0       1      0
1       1      0
2       0      1
3       1      0
4       1      0
5       0      1
6       1      0
7       0      1
8       0      1
9       0      1
10      0      1
11      0      1
12      1      0
13      0      1
14      1      0
15      0      1
16      1      0
17      0      1
18      1      0
19      1      0

In [33]:
#Вариант 2
import pandas as pd
import random

lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)

data = pd.DataFrame({'I_am': lst})
data = pd.get_dummies(data)
data = data.astype(int)
print(data)

    I_am_human  I_am_robot
0            1           0
1            0           1
2            0           1
3            0           1
4            0           1
5            1           0
6            1           0
7            1           0
8            1           0
9            1           0
10           1           0
11           1           0
12           0           1
13           0           1
14           0           1
15           1           0
16           0           1
17           1           0
18           0           1
19           0           1