# Задание 1
##  1.1 Соедините 2 словаря в 1

In [1]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}
dict1.update(dict2)
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

## 1.2 Напишите функцию, объединяюшую 2 словаря

In [2]:
def unite(dict1, dict2):
    dict1.update(dict2)
    return dict1
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}
unite(dict1, dict2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

# Задание 2

### Напишите функцию, которая из двух списков, делает один словарь, где элементы из первого списка - ключи, а элементы из второго списка - значения
### Используйте аннотирование типов

### 2.1 Используя цикл for

In [6]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]
def make_dict(ks, vs):
    d = {}
    for i in range(len(ks)):
        d.update({ks[i]: vs[i]})
    return d
make_dict(keys, values)

{'One': 1, 'Two': 2, 'Three': 3}

### 2.2 Используя dict comprehensions

In [7]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]
dict = {keys[i]: values[i] for i in range(len(keys))}
dict

{'One': 1, 'Two': 2, 'Three': 3}

## Задание 3

### Извлеките только два ключа name и age из представленного словаря

### 3.1 Напишите функцию с циклом for

In [11]:
client_dict = {'name': 'John', 'age': 25, 'salary': 5000, 'city': 'Moscow'}
def extract(cd, extr_keys):
    extr_dict ={}
    for i in extr_keys:
        extr_dict.update({i: cd[i]})
    return extr_dict
extract(client_dict, ['name', 'city'])

{'name': 'John', 'city': 'Moscow'}

### 3.2 Используя dict comprehensions

In [14]:
client_dict = {'name': 'John', 'age': 25, 'salary': 5000, 'city': 'Moscow'}
extr_dict = {k: client_dict[k] for k in ['name', 'age']} 
extr_dict

{'name': 'John', 'age': 25}

## Задание 4

### 4.1 Сгенерируйте случайные целые числа от 0 до 100 в количестве 5 штук с помощью модуля random

#### - Зафиксируйте псевдогенерацию, чтобы сгенерированные значения всегда были одинаковые

#### - Используйте list comprehensions

In [16]:
import random as rd
# rd.seed(8)
data = [rd.randint(0,100) for i in range(5)]
data

[60, 78, 19, 32, 38]

## 4.2 Напишите генератор
Генератор на вход принимает список с данными о клиенте (данные 
из пункта 4.1)
Внутри генератора реализуйте обход по списку с данными
На каждой итерации генератор будет возвращать кортеж из двух 
элементов:
1. данные по клиенту (в зависимости от итерации, на 0 итерации 
вернется 0 элемент, на 1 итерации вернется 1 элемент и тд)
2. целочисленное значение, которое показывает, сколько секунд 
прошло с предыдущей итерации
Примечание: секунды, которые возвращаются должны показывать время не 
с начала запуска генератора, а именно то время, которое прошло с 
предыдущей итерации. А значит время на первой итерации должно 
равняться 0.
Используйте функцию time из модуля time для подсчета времени.
Чтобы проверить работу таймера, запустите проход по 
генератору в цикле с time.sleep(2)

In [18]:
import time as tm
def gen1(data):
    last_time = None
    for i in data:
        current_time = tm.time()
        if last_time:
            delta = current_time - last_time
        else:
            delta = current_time - current_time
        last_time = tm.time()
        yield (i, int(delta))
        
for i in gen1(data):
    print(i)
    tm.sleep(2)

(60, 0)
(78, 2)
(19, 2)
(32, 2)
(38, 2)

### Задание 5.
5.1 Найдите картинку в интернете и прикрепите её 
в ячейку с текстом
5.2 Создайте следующую таблицу в ячейке с 
текстом

<img scr="data:image https://megatronrus.ru/temp/img/goods/pic-91.jpg">

<table>
    <tr>
        <td></td>
        <td> До события</td>
        <td>после события</td>
    </tr>
    <tr>
        <td>1 контрольная точка</td>
        <td>250</td>
        <td>500</td>
    </tr>
    <tr>
        <td>2 контрольная точка</td>
        <td>350</td>
        <td>700</td>
    </tr>
    <tr>
        <td>3 контрольная точка</td>
        <td>400</td>
        <td>800</td>
    </tr>
    <tr>
        <td>ИТОГО</td>
        <td>1000</td>
        <td>2000</td>
    </tr>
</table>

## Задание 6.
##### Напишите функцию, которая может принимать любое количество трат пользователя и считать сумму и среднее.
##### На вход поступают целочисленные значения в любом количестве
##### На выходе словарь с ключами суммы трат и средней траты

In [24]:
import numpy as np
def purchases(*args):
    return {'sum': np.sum(args), 'avg': np.mean(args)}
purchases(1, 2, 3, 4, 5)

{'sum': np.int64(15), 'avg': np.float64(3.0)}